@media (min-width: 900px){

    nav ul{
        display: flex;
        flex-direction: row;
    }

    .home-main{
        display: grid;
        grid-template-areas: "e h h x"
                             "w h h x"
                             "j n n x";
    }    

    .spotlight3{    
        display: block;    
    } 

    .main-spotlight{
        flex-direction: column;
    }

    #hamburger-menu{
        display: none;
    }
    .main-containers{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .main-containers img:hover{box-shadow: 0 0 50px #333;}
    
    .discover-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .join-main{
        display: grid;
        grid-template-areas: "a b";
        margin: 1rem auto;
    }

    #left{
        min-width: 60%;
        min-height: 80%;
        margin: auto;
        padding: 3rem;
        border: 1px solid black;
        grid-area: a;
    }

    #right{
        min-width: 50%;
        min-height: 92%;
        margin: auto;
        padding: 2rem;
        border: 1px solid black;
        grid-area: b;
    }
    .main-hero{
        grid-area: h ;
        position: relative;
        background-image: url("/chamber_2/images/TetonRange.webp");
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
    }

}
