@media (min-width: 900px){

    nav ul{
        display: flex;
        flex-direction: row;
    }

    .home-main{
        display: grid;
        grid-template-areas: "e h h x"
                             "w h h x"
                             "j n n x";
    }    

    .spotlight3{    
        display: block;    
    } 

    .main-spotlight{
        flex-direction: column;
    }

    #hamburger-menu{
        display: none;
    }
    .main-containers{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .main-containers img:hover{box-shadow: 0 0 50px #333;}
    
    .discover-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
