/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

@media (min-width: 600px) {
	nav {
        flex-direction: row;
	}
    
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 0.9rem;
    }

@media (min-width: 800px) {
	nav {
        display: flex;
        flex-direction: column;
	}
	
    nav div {
        flex: 1 1 auto;
        flex-direction: column;
    }
    
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 0.9rem;
    }