@media (min-width: 900px){

    nav {
        margin: 0 auto;
        max-width: 1000px;
        background-color: #393E46;
    }
    .navigation {
        /* border: solid black 20px; */
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    .navigation li {
        display: block;
    }
    #menu {
        display: none;
    }
    
    #hero {
        margin: 0 auto;
        max-width: 760px;
        background-color: #393E46;
        color: #EEEEEE;
        height: 100px;
    }
    
    #event {
        margin: 0 auto;
        max-width: 760px;
        background-color: #393E46;
        color: #EEEEEE;
        height: 100px;
    }
    
    #weather {
        margin: 0 auto;
        max-width: 760px;
        background-color: #393E46;
        color: #EEEEEE;
        height: 100px;
    }
    
    #news_release {
        margin: 0 auto;
        max-width: 760px;
        background-color: #393E46;
        color: #EEEEEE;
        height: 100px;
    }
    
    #spotlight_1 {
        margin: 0 auto;
        max-width: 760px;
        background-color: #393E46;
        color: #EEEEEE;
        height: 100px;
    }
    
    #spotlight_2 {
        margin: 0 auto;
        max-width: 760px;
        background-color: #393E46;
        color: #EEEEEE;
        height: 100px;
    }
}
