@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Basic styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

/* Header styles */
header {
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.logo img {
	max-width: 100%;
	height: auto;
}

nav {
	display: flex;
	align-items: center;
}

.nav-links {
	display: flex;
	list-style: none;
	margin-right: 20px;
}

.nav-links li {
	margin: 0 10px;
}

.nav-links a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 30px;
	height: 20px;
}

.hamburger .line {
	width: 100%;
	height: 3px;
	background-color: #333;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
	.footer-logo {
		flex: 1 0 100%;
		margin-bottom: 20px;
	}
	
	.social-icons {
		flex: 1 0 100%;
		justify-content: center;
	}
	
	.social-icons a {
		margin-left: 15px;
	}
	
	.social-icons a:first-child {
		margin-left: 0;
	}

}

/* Hero styles */
.hero {
	background-color: #fff;
	padding: 50px 0;
	text-align: center;
}

.hero img {
	max-width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.hero h1 {
	font-size: 3rem;
	margin-top: 52px;
}

.hero p {
	font-size: 1.5rem;
	margin-bottom: 40px;
}

.btn {
	display: inline-block;
	background-color: #f7c130;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.btn:hover {
	background-color: #e0b526;
}

/* Spotlight styles */
.spotlights {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 100px 0;
}

.spotlight {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 40px;
	text-align: center;
}

.spotlight img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.spotlight h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.spotlight p {
	font-size: 1.2rem;
	margin-bottom: 40px;
}

.spotlight a {
	display: inline-block;
	background-color: #f7c130;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.spotlight a:hover {
	background-color: #e0b526;
}

footer {
	background-color: #f5f5f5;
	padding: 20px 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer-logo {
	flex: 1 0 150px;
}

.footer-logo img {
	max-width: 100%;
}

.social-icons {
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-end;
}

.social-icons a {
	display: inline-block;
	margin-left: 10px;
	font-size: 24px;
	color: #333;
}

.social-icons a:hover {
	color: #e0b526;
}

.social-icons a:first-child {
	margin-left: 0;
}

.social-icons i {
	transition: color 0.3s ease-in-out;
}
